.~ml
/objetosNegocio_AmorConPatas/nbproject/private/
/AccesoDatos_AmorConPatas/nbproject/private/
/ServletsNegocio/nbproject/private/
/DAO_AccesoDatos_AmorConPatas/target/
/Datos_ObjetosNegocio_AmorConPatas/target/
/WA_VistasJSP/nbproject/private/
/accesoDatos_ACP/build/
/objetosNegocio_ACP/dist/
/objetosNegocio_ACP/build/
/accesoDatos_ACP/dist/
/WA_VistasJSP/build/