/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 19/03/2019, 06:21:24 AM
    Author     : roberto
*/

*{
    margin:0;
    padding: 0;
}

header{
    background-image: url()
    height: 100vh;
    background-size :in¿¿
    
}